<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<form action="/answer" method="get">
  <!-- method=get -->
  <!-- action specifies the URL that will be used when submitting the form -->
  <input type="text" class="input" name="question">
  <!-- name enables you to name each parameter corresponding to each input of the form. -->
  <input type="submit" class="submit" value="Ask!">
</form>
